{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div class="col-sm-10">
 <h3 class="my-5">About Page</h3>
 <div class="jumbotron jumbotron-fluid jumbo-color">
 <div class= "container">
 <p>An author platform refers to a writer's ability to market their work, using their overall visibility to reach a target audience of potential readers.The strength of a writing platform is measured by the author's ability to use their influence and reach in order to sell books and boost their writing career.</p>
 <p>A writer’s platform might include the reach of their social media accounts, the connections they have with other published authors or literary influencers, and the writer’s relationship with media outlets.</p>
</div>
</div>
</div>

{% endblock content %}